@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h2 class="text-danger">Has an error occurred while processing your request? We don't know.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}