@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Program> Localizer
@{ViewData["Title"] = "Privacy policy"; }



<h1>@Localizer["Privacy Policy"]</h1>
<h2>@Localizer["Privacy Policy Content"]</h2>
